

<h1> About </h1>
<p>
<%=link_to "Lift to airport","http://google.com"%> is a project to take people to airport at lesser expense.
<%= link_to "Ruby on rails","http://rubyonrails.org"%>by sharing rides
</p>


